<div class="main-content home-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="row info">
                        <div class="col-md-4">
                            <div class="">
                                <a href="{{'https://image.tmdb.org/t/p/w320'+filmItem.poster_path}}">
                                    <img src="{{filmItem.poster_path ? 'https://image.tmdb.org/t/p/w320'+filmItem.poster_path : '../assets/img/no-image.jpg'}}" alt="{{filmItem.title ? filmItem.title : 'Нет данных'}}">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 film-detail-wrapper">                           
                            <div class="card-header detail" data-background-color="red" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">
                                <h4 class="title" fxFlex="80%">{{filmItem.title ? filmItem.title : 'Нет данных'}}</h4>
                                <a href="#shalex" class="set-favorite-false" data-toggle="dropdown" (click)="clickFavoriteItem()">
                                    <i class="material-icons md-white" fxFlex="10%">turned_in_not</i>
                                </a>
                                <a href="#shalex" data-toggle="dropdown" (click)="removeFavoriteItem()">
                                    <i class="material-icons md-white" fxFlex="10%">turned_in</i>
                                </a>
                            </div>
                            <div class="film-detail-bg">
                                <img data-src="{{bg + filmItem.backdrop_path}}">
                            </div>
                            <div class="film-detail-content">
                                <h3 class="card-title">{{filmItem.tagline ? filmItem.tagline : ""}}</h3>
                                <p class="card-content">
                                    {{filmItem.overview ? filmItem.overview : "Описание фильма отсутсвует"}}
                                </p>
                                <!--<h3>{{filmItem.production_countries ? country : "No country"}}</h3>
                                <h3>{{filmItem.production_companies ? company : "No company"}}</h3>-->
                            </div>
                        </div>
                    </div>
                    <!--<div class="row" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">                        
                        <md-grid-list cols="5">
                            <md-card fxFlex="49" *ngFor="let actor of actorsList">
                                <img *ngIf="actor.profile_path" md-card-image src="{{actor.profile_path ? 'https://image.tmdb.org/t/p/w320'+actor.profile_path : '../assets/img/no-image.jpg'}}">
                                <md-card-title>{{actor.name}}</md-card-title>
                                <md-card-content>
                                    <span>{{actor.character || actor.job}}</span>
                                </md-card-content>
                            </md-card>
                        </md-grid-list>
                    </div>-->
                </div>
                <div class="row roles">
                        <h2>В ролях:</h2>
                    </div>
                    <div class="actors" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
                            <actor-card *ngFor="let actor of actorsList"
                                [actor]="actor"
                                [routerLink]="['/peoples', actor.id]"
                                fxFlex="49" fxFlex.gt-xs="19">
                            </actor-card>
                    </div>
                    <button md-button color="primary" routerLink="cast">Показать всех</button>
            </div>
        </div>
    </div>
</div>
