.film-card {
    margin: 30px 5%;
    width: 90%;
    height: 349px;
}
.film-card img {
    height: 349px !important;
}
.overview {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    width: 100%;
    height: 4.6em;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.2em;
    margin: 16px 0 0;
}
.mat-card {
    padding: 0;
}
.content {
    padding-right: 5%;
}
.mat-card-image:first-child {
    margin-top: 0;
}
.mat-card-image {
     margin: 0; 
}