<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.shalex.info">
                        My site
                    </a>
                </li>
                <li>
                    <a href="http://www.shalex.info">
                        About Me
                    </a>
                </li>
                <li>
                    <a href="http://www.shalex.info">
                        Portfolio
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            <span><i class="material-icons">system_update</i>Source:<a href="https://www.themoviedb.org">The Movie DB</a></span>
              &copy; {{test | date: 'yyyy'}} <a href="http://www.shalex.info">Shalex</a>, made with love for a better web
        </p>
    </div>
</footer>
